*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: Arial, Helvetica, sans-serif
}

.table-output ul {
    list-style: none;
    display: flex;
}

.table-output ul:first-child {
    font-weight: bold;
    background-color: #808080;
}

.table-output ul li {
    border: 1px black solid;
    flex-basis: calc(100%/3);
    padding: 10px;
}
